@media (max-width:767px) {
  .th-btns button{
    border: 1px solid rgb(217, 221, 233);
    margin: 10px auto;
  }
  .th-btns{
    border: 0;
  }
}
@media (max-width:576px) {
  .th-btns label{
    border: 1px solid rgb(217, 221, 233);
    margin-bottom: 10px;
  }
  .th-btns .row>div{
    padding: 0 15px !important;
  }
  .form-color-check{
    width: 150px;
  }
}
