@font-face {
  font-family: Brandon;
  font-weight: bold;
  src: url("../fonts/brandontext-bold.otf");
}

@font-face {
  font-family: Brandon;
  font-weight: light;
  src: url("../fonts/brandontext-light.otf");
}

@font-face {
  font-family: Brandon;
  font-weight: normal;
  src: url("../fonts/brandontext-regular.otf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Hind', sans-serif;
  font-family: Brandon;
}

body {
  min-width: 360px;
  background: rgb(244, 248, 250);
}

a, a:hover, a:active, a:visited, a:focus,
select, select:hover, select:active, select:visited, select:focus,
textarea, textarea:hover, textarea:active, textarea:visited, textarea:focus,
input, input:hover, input:active, input:visited, input:focus,
button, button:hover, button:active, button:visited, button:focus {
  text-decoration: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.w-f>* {
  max-width: 690px;
  margin: auto;
}

.login-form {
  max-width: 325px;
  margin: auto;
  padding: 50px 0;
}

.c-form {
  max-width: 325px;
  position: relative;
  margin-bottom: 10px;
  height: 55px;
}

.c-form input {
  width: 100%;
  padding: 30px 20px 10px 20px;
  border: 1px solid rgb(217, 221, 233);
  line-height: 20px;
  color: rgb(24, 53, 88);
  height: 55px;
}

/* .c-form input::placeholder{

} */
.c-form input:focus+label,
.c-form input:valid+label {
  color: rgb(0, 174, 217);
  /* font-weight: bold; */
  top: 5px;
  font-size: 12px;
}

.c-form label {
  position: absolute;
  top: 16px;
  left: 20px;
  color: #777;
  background: #fff;
  transition: 0.3s;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
}

.b-btn {
  width: 100%;
  font-size: 14px;
  box-sizing: border-box;
  min-height: 54px;
  /* border: 0; */
  background: lightgrey;
  color: white;
  border: 1px solid transparent;
  transition: 0.3s;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  max-width: 325px;
  /* cursor: none; */
}

.b-btn.active {
  background: rgb(0, 174, 217);
  border: 1px solid rgb(0, 174, 217);
  cursor: pointer;
}

.b-btn.active:hover {
  color: rgb(0, 174, 217);
  background: white;
}

.title {
  font-size: 22px;
  line-height: 24px;
  text-transform: uppercase;
  /* padding: 0px 10px; */
  color: rgb(24, 53, 88);
  margin: 0px 0px 8px;
  font-weight: bold;
}

.p-text {
  color: rgb(117, 121, 137);
  font-size: 14px;
  font-weight: regular;
}

.sub-title {
  font-size: 16px;
  color: rgb(24, 53, 88);
  line-height: 28px;
  font-weight: bold;
  text-transform: uppercase;
}

a {
  color: rgb(0, 174, 217);
}

.title-box>div {
  max-width: 400px;
  margin: auto;
}

.car-info .img {
  width: 150px;
  height: 150px;
  max-width: 200px;
}

.car-info .img img {
  flex-shrink: 0;
  /* min-width: 100%; */
  /* min-height: 100%; */
  max-width: 100%;
}

.car-info .info-side {
  padding-left: 30px;
}

.car-info .info-side h3 {
  font-size: 18px;
  font-weight: regular;
  line-height: 28px;
}

.car-info .info-side p {
  color: rgb(117, 121, 137);
  font-size: 14px;
  line-height: 24px;
}

.car-info .info-side p span {
  font-weight: bold;
}

.offer-sec .card {
  margin-bottom: 1px;
}

.offer-sec .card-header {
  background: rgb(0, 97, 158);
  border-radius: 0;
  margin-top: 0px;
  padding: 10px 25px 10px 25px;
}

.offer-sec .card-header button {
  color: rgb(207, 234, 242);
  font-size: 18px;
  line-height: 28px;
}

.offer-sec .card-header button span {
  background: rgb(207, 234, 242);
  width: 1px;
  height: 24px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0px;
  opacity: 0.5;
  display: block;
}

.offer-sec .card-header button p {}

.offer-sec .card-header button b {
  text-transform: uppercase;
  font-weight: bold;
}

.offer-sec .card-body {
  padding: 10px 25px 20px 25px;
}

.offer-sec .card-body p {
  color: rgb(117, 121, 137);
  font-size: 16px;
  line-height: 24px;
}

.th-btns {
  border: 1px solid rgb(217, 221, 233);
  border-right: 0;
}

.th-btns label {
  text-transform: uppercase;
  font-size: 16px;
  text-align: center;
  height: 36px;
  width: 100%;
  border: 0;
  border-right: 1px solid rgb(217, 221, 233);
  font-weight: bold;
  max-width: 350px;
  margin: auto;
  display: block;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;

}
.th-btns input:checked+label,
.th-btns button.active {
  background: rgb(0, 97, 158);
  color: white;
}

/* .th-btns button:nth-last-of-type(1){
  border-right: 0;
} */
.c-hr {
  background: rgb(217, 221, 233);
  width: 100%;
  height: 1px;
  border: 0;
  margin: 20px 0;
}

.form-color-check {
  width: 157px;
  /* height: 60px; */
  /* justify-content: center; */
  display: inline-block;
  padding: 10px !important;
  cursor: pointer;
  border: 1px solid transparent;
  transition: border 0.3s;
}

.form-color-check:hover {
  border: 1px solid rgb(217, 221, 233);
}

.form-color-check>div {
  display: flex;
  height: 40px;
  align-items: center;
  cursor: pointer;
}

.form-color-check input {
  display: none;
}

.form-color-check input+.custom-label {
  width: 30px;
  height: 30px;
  cursor: pointer;
  /* border: 1px solid #232323; */
  /* position: absolute;
left: 0;
top: 5px; */
  margin: 0;
  border-radius: 50%;
  position: relative;
}

.form-color-check input+.custom-label img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: auto;
  visibility: hidden;
}

.form-color-check input:checked+.custom-label {
  border: 2px solid white !important;
  /* box-shadow: 4px ​3px 20px #0000009; */
  box-shadow: 1px 1px 26px #00000090;
}

.form-color-check input:checked+.custom-label img {
  /* display: block; */
  visibility: visible;
}

.form-color-check .form-color-check-label {
  color: rgb(117, 121, 137);
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
  padding-left: 10px;
  cursor: pointer;
  transition: color 0.3s;
}

.form-color-check:hover .form-color-check-label {
  color: black
}

/* .form-color-check .custom-label */
.j-check {
  width: 20px;
  height: 20px;
  background: #03fc28;
  border-radius: 50%;
}

.j-check img {
  width: 60%;
}

.form-check {
  width: 233px;
  /* height: 60px; */
  /* justify-content: center; */
  display: inline-block;
  padding: 0 !important;
  cursor: pointer;
  border: 1px solid transparent;
  transition: border 0.3s;
}

/* .form-check:hover{
border: 1px solid rgb(217, 221, 233);
} */
.form-check>div {
  display: flex;
  height: 40px;
  align-items: center;
  cursor: pointer;
}

.form-check input {
  display: none;
}

.form-check input+.custom-label {
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: 1px solid rgb(217, 221, 233);
  /* position: absolute;
left: 0;
top: 5px; */
  margin: 0;
  border-radius: 2px;
  position: relative;
  min-width: 30px;
  background: white;
}

.form-check input+.custom-label img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: auto;
  visibility: hidden;
}

.form-check input:checked+.custom-label {
  border-color: rgb(0, 174, 217);
  /* box-shadow: 4px ​3px 20px #0000009; */
  /* box-shadow: 1px 1px 26px #00000090; */
}

.form-check input:checked+.custom-label img {
  /* display: block; */
  visibility: visible;
}

.form-check .form-check-label {
  color: rgb(117, 121, 137);
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
  padding-left: 10px;
  cursor: pointer;
  transition: color 0.3s;
}

.form-check:hover .form-check-label {
  color: black
}

.yn-btns{
  width: 200px;
  border: 1px solid rgb(217, 221, 233);
  border-right: 0;
}

.yn-btns label {
  width: 100%;
  text-transform: uppercase;
  font-size: 16px;
  text-align: center;
  height: 36px;
  width: 100%;
  border: 0;
  border-right: 1px solid rgb(217, 221, 233);
  font-weight: bold;
  max-width: 350px;
  margin: auto;
  display: block;
  background: white;
display: flex;
align-items: center;
justify-content: center;
}
.yn-btns input{
  /* display: none; */
  position: absolute;
}
.yn-btns input:checked+label{
  background: rgb(0, 97, 158);
color: white;
}
.colors-list{
  text-align: center;
}
